.App {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(136, 232, 171, 0.1);
  height: 100vh;
  width: 100vw;
  text-align: center;
}

/* navbar */
.navbar {
  display: flex;
  flex-direction: column nowrap;
  width: 100vw;
  border-bottom: 1px solid #115f7d;
  max-height: content;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
}

#main-site-name {
  font-family: "Bungee Shade", sans-serif;
  color: #11883d;
  border: 1px #449c65;
  font-size: 1.4em;
  line-height: 1em;
}

.large-button {
  background-color: rgba(136, 232, 171, 0.1);
  border: 2px solid #115f7d;
  font-family: "Bungee";
  color: #11883d;
  flex: 0.5;
  max-width: 120px;
}

.card-container {
  display: flex;
}

/* main */
main {
  width: 100%;
  display: flex;
  flex: 1;
}

.landing-main {
  display: flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}

.site-splash {
  text-align: center;
}

.site-splash > h1 {
  color: #115f7d;
  font-family: "Bungee", sans-serif;
  border: 1px #449c65;
  line-height: 1em;
}

.img-container {
  display: flex;
  flex: 1;
  background-color: #88e8ab;
  width: 100%;
  align-items: center;
  justify-content: center;
}

img[alt~="Trash"] {
  max-width: 50%;
  height: auto;
}

/* sign in */
.sign-in-page {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sign-in-box {
  display: flex;
  flex-flow: column nowrap;
  max-height: 100%;
  height: 80%;
  width: 90%;
  justify-content: center;
  background-color: ;
}

.sign-in-box > form {
  display: flex;
  flex-flow: column;
}

.sign-up-images {
  display: none;
  align-items: center;
  justify-content: center;
}

/* tracker bar */
.tracker-bar {
  margin-top: 10px;
  background-color: #88e8ab;
  color: #115f7d;
  width: 100%;
  align-self: flex-end;
}

.global-tracker {
  font-family: "Bungee";
  font-size: 1em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.global-tracker > strong {
  color: #11883d;
  font-size: 1.5em;
  line-height: 0.5em;
}

/* footer */
footer {
  background-color: #11883d;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer > a {
  text-decoration: none;
  font-family: "Bungee";
  font-size: 0.8em;
}

/* large screens */
@media all and (min-width: 800px) {
  #main-site-name {
    font-size: 2em;
  }

  .App {
    align-content: center;
    align-items: center;
  }
  .navbar {
    flex-flow: row wrap;
    max-width: 90vw;
    justify-content: space-around;
    max-height: 10vh;
  }

  /* log-in */
  .sign-in-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .sign-in-box {
    display: flex;
    flex-flow: column nowrap;
    max-height: 100%;
    height: 80%;
    width: 60%;
    justify-content: center;
    margin: 10px;
  }

  .sign-in-box > form {
    display: flex;
    flex-flow: column;
    margin: 10px;
  }

  img[alt~="Trash"] {
    max-width: 70%;
    height: auto;
  }
  .sign-up-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;
    background-color: #88e8ab;
  }

  .sign-up-images > img[alt~="Trash"] {
    width: 75%;
    height: auto;
  }

  .sign-up-button {
    border: 2px solid #115f7d;
    font-family: "Bungee";
    color: #11883d;
    flex: 0.5;
    max-width: 180px;
  }

  .how-to-main {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .how-to-main > header {
    align-self: flex-start;
  }

  .how-to-main > section {
    display: flex;
    margin: 10px;
    align-items: center;
  }

  main {
    display: flex;
    max-width: 90vw;
    align-content: center;
    justify-content: center;
  }

  .landing-main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .site-splash {
    max-width: 80vw;
  }
  .landing-main {
    width: 60vw;
  }

  .global-tracker {
    font-size: 1.5em;
  }
  footer {
    width: 90vw;
  }
}
